body {
  text-align: center;
  background-color: rgb(68, 11, 68);
  padding:25% auto;

}
.button{
  margin-top: -1.2vw;
}

button{
  padding: 1.5vw;
  background-color: rgb(91, 186, 218);
  border-color: rgb(82, 209, 248);
  
}
#clear{
  padding-left: 3vw;
  padding-right: 3vw;
}
.op{
  padding: 3vw;
  margin-top: 6vw;
  width: 9.4vw;
  margin-left: 42.3vw;


  
  
  background-color: rgb(211, 220, 223);
}
